@model IEnumerable<Taharifran.Models.AspNetUsers>
@using Taharifran.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "Contact";
}
@using (Html.BeginForm("Contact", "Home", FormMethod.Get))

{
    @Html.TextBox("searching")<input type="submit" value="Search" />
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Spana in snyggingarna nedanför vetja!</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">
                    Sökningen gav inget resultat.
                </td>
            </tr>
        }
        else //hej
        {
            foreach (var item in Model)
            {
                <tr>

                    
                    <td><dt>@item.Firstname</dt></td>
                    <td><dt>@item.Lastname</dt></td>
                    <td><dt>@Html.ActionLink("Gå till profil", "otherProfile", new { id = item.Id })</dt></td>
                </tr>
            }
        }
    </tbody>

</table>