@model Taharifran.Models.FriendRequestViewModel
@using Taharifran.Models
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;


@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userId = "";
    if (Request.IsAuthenticated)
    {
        var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = manager.FindById(User.Identity.GetUserId());
        userId = currentUser.Id;
    }


}
<br />
<br />
<br />

<h2>FriendRequests:</h2>





<ul id="friend-requests-list">
    @foreach (var friendRequest in Model.FriendRequests)
    {
        <li>@friendRequest.Firstname @friendRequest.Lastname <button type="button" data-id="@friendRequest.Id" onclick="accept(this)">Acceptera</button></li>
    }
</ul>

@*script for accepting friendrequest. Retrieves data from the apicontroller*@
@section scripts {
    <script>
        function accept(button){
            var sender = $(button).data('id');
            var reciever = '@userId';
            $.post('/api/controller/acceptrequest?sender=' + sender + '&reciever=' + reciever,
                function (data) {
                    window.location.reload();
                }
            )
        }
    </script>
}