@using Taharifran.Models
@model UserIndexViewModel
   

<table>
    @foreach (var user in Model.Users)

    {
    <tr>
        <dt>Firstname:</dt>
        <dd>@user.Firstname</dd>
        </tr>
      <tr>
          <dt>Lastname</dt>
        <dd>@user.Lastname</dd>
        </tr>
    }
</table>
<hr />

@Html.Partial("AddUserForm", new User())

